* {
  font-family: roboto;
}


body {
background-image: url(https://img.freepik.com/free-vector/abstract-business-professional-background-banner-design-multipurpose_1340-16858.jpg?w=1380&t=st=1681063114~exp=1681063714~hmac=1e9521e9b35ce3da7144713476cb110e1afc3faa9ab709c9eb687126605230a9);
background-size: cover;
background-repeat: no-repeat;
}

.flex-homebar {
  inline-size: block;
display: inline-flex;
flex-wrap: nowrap;
position: relative;
white-space: nowrap;
top: 10%;
left: 43%;
z-index: 1;
color: white;
}

.home {
margin-right: 10px;


}

.about {
  margin-right: 10px;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
  padding-right: 5px;
cursor: pointer;
background-color: black;
color: white;
}

.portfolio {
  cursor: pointer;
  background-color: black;
  color: white;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
  padding-right: 5px;
}

.header {
  display: inline-block;
  top: 300px;
  left: 25%;
  margin-bottom: -200px;
  position: relative;
  z-index: 1;
}

.landing-h1 {
  color: white;
}

.home-button {
color: white;
background-color: black;
margin-right: 5px;
padding-top: 10px;
padding-bottom: 10px;
}

.about-text {
  margin-right: 10px;
  margin-top: 10px
}

.a-div {
margin-top: 100px;
color: white;
}

@media(max-width: 768px){
  *{
    margin: 0 auto !important;
    padding: 0 !important;
  }
}